/* style.css */
:root {
  --background-color-light: #ffffff;
  --background-color-dark: #121212;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
  --accent-color: #007bff;
  --button-hover: #0056b3;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.header {
  text-align: center;
}

.title {
  font-size: 2.5rem;
}

.dark-mode-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--text-color-light);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.dark-mode-button:hover {
  background-color: var(--button-hover);
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
}

.search-bar input[type='text'] {
  width: calc(100% - 140px);
}

.feed-row img {
}
